In [5]:
import numpy as np
import pandas as pd

Matrix multiplication - numpy.dot

https://www.youtube.com/watch?v=yAgqlTfWc9E

https://docs.scipy.org/doc/numpy/reference/generated/numpy.dot.html

In [2]:
# matrices

a = [1,2,3,4,5]
b = [6,7,8,9,10]

np.dot(a,b)

130

array([560, 690, 860, 795, 776, 898, 933, 701, 807, 784, 833])

In [ ]:
#matrix multiplication
print np.dot(x[:,1], x[:,0])

# you can multiple arrays into matrices
y=[3,4]

x = np.array([[120, 150, 180, 165, 172, 182, 191, 151, 153, 188, 175],    # height 
             [50, 60, 80, 75, 65, 88, 90, 62, 87, 55, 77]])               #weight

np.dot(y,x)

## EXAMPLE: Olympics
Imagine a point system in which each country is awarded 4 points for each
gold medal,  2 points for each silver medal, and one point for each 
bronze medal.  

Using the numpy.dot function, create a new dataframe called 
'olympic_points_df' that includes:
    a) a column called 'country_name' with the country name
    b) a column called 'points' with the total number of points the country
       earned at the Sochi olympics.

You do not need to call the function in your code when running it in the
browser - the grader will do that automatically when you submit or test it.

In [6]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
olympic_medal_counts = {'country_name':pd.Series(countries),
                            'gold': pd.Series(gold),
                            'silver': pd.Series(silver),
                            'bronze': pd.Series(bronze)}
df = pd.DataFrame(olympic_medal_counts)
    
df

      country_name  gold  silver  bronze
0     Russian Fed.    13      11       9
1           Norway    11       5      10
2           Canada    10      10       5
3    United States     9       7      12
4      Netherlands     8       7       9
5          Germany     8       6       5
6      Switzerland     6       3       2
7          Belarus     5       0       1
8          Austria     4       8       5
9           France     4       4       7
10          Poland     4       1       1
11           China     3       4       2
12           Korea     3       3       2
13          Sweden     2       7       6
14  Czech Republic     2       4       2
15        Slovenia     2       2       4
16           Japan     1       4       3
17         Finland     1       3       1
18   Great Britain     1       1       2
19         Ukraine     1       0       1
20        Slovakia     1       0       0
21           Italy     0       2       6
22          Latvia     0       2       2
23       Australia     0       2       1
24         Croatia     0       1       0
25      Kazakhstan     0       0       1

In [7]:
medal_count  = df[['gold','silver','bronze']]

medal_count

    gold  silver  bronze
0     13      11       9
1     11       5      10
2     10      10       5
3      9       7      12
4      8       7       9
5      8       6       5
6      6       3       2
7      5       0       1
8      4       8       5
9      4       4       7
10     4       1       1
11     3       4       2
12     3       3       2
13     2       7       6
14     2       4       2
15     2       2       4
16     1       4       3
17     1       3       1
18     1       1       2
19     1       0       1
20     1       0       0
21     0       2       6
22     0       2       2
23     0       2       1
24     0       1       0
25     0       0       1

In [8]:
points = np.dot(medal_count, [4,2,1])

points

array([83, 64, 65, 62, 55, 49, 32, 21, 37, 31, 19, 22, 20, 28, 18, 16, 15,
       11,  8,  5,  4, 10,  6,  5,  2,  1], dtype=int64)

In [9]:
olympic_points = {'country_name': pd.Series(countries),
                            'points': pd.Series(points)}  
olympic_points_df = pd.DataFrame(olympic_points)
    
olympic_points_df

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1